<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="fonts/fonts.css">

    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/level.css">
    <title>Уровень </title>
</head>
<body ng-app="app" ng-controller="levelCtrl">
<div id='wrapper'>
    <header>
        <div id="stats">
            <p id="score" ng-bind="'Очков: ' + meta.score"></p>
            <div id="lives" title="Осталось {{meta.lives}} из {{level.lives}} очков здоровья">
                <img ng-repeat="life in lives(3, meta.lives) track by $index"
                     ng-src="img/interface/heart_mini_{{life ? 'full' : 'empty'}}.png"
                     class="pixel" alt="">
            </div>
        </div>
        <div><h3 id="level" ng-bind="meta.title"></h3></div>
        <div id="controls">
            <a id="back" href="."><b>Назад</b></a>
            <a id="reset" href="#" ng-click="reset()"><b>Сброс</b></a>
        </div>
    </header>
    <article>
        <div id="arena">
            <!-- there will be THE BATTLE-->
        </div>
    </article>
    <footer>
        <div>
            <p>Курсовой проект по курсу <b>Вёрстка и прототипирование сайтов</b></p>
        </div>
    </footer>
    <div id="label"><h4>Время обеда!</h4></div>
</div>
</body>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js'></script>
<script src='js/levels.mjs'>
    window.LEVELS = LEVELS;
</script>
<script src='js/level.js'></script>


</html>